
h1 {
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

svg {
    pointer-events: none;
}


.iconRow {
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.icons {
	height: 100px;
 	width: 100px;
 	padding: 30px;
}

.icons:hover {
	opacity: 70%;
	height: 125px;
	width: 125px;
} 









