 .img-wrapper {
 	display: inline-block;
 	width: 50%;
 	padding: 20px;
 }

/* this is saying any image inside the parent should be adapted */
 .img-wrapper > img {
 	width: 30%;
 }

 .black-background {
 	background-color: black;
 }

/* changes the svg based on hovering */
 #beerBarrels:hover #rBarrel {
 	fill: red;
 }

  #beerBarrels:hover #lBarrel {
 	fill: red;
 }

  #beerBarrels:hover #cBarrel {
 	fill: red;
 }

