 .img-wrapper {
 	display: inline-block;
 	width: 50%;
 	padding: 20px;
 }

#row1 {
	flex-direction: row;
}

 #apple	{
 	height: 100px;
 	width: 100px;
 	padding: 30px;
 }

  #bannana {
 	height: 100px;
 	width: 100px;
 	padding: 30px;
 }
 
  #cherry {
 	height: 100px;
 	width: 100px;
 	padding: 30px;
 }



